###> PHPStorm ###
/.idea/
###< PHPStorm ###

###> Composer ###
/composer.lock
/vendor/
###< Composer ###

###> symfony/dependency-injection ###
/var/
###< symfony/dependency-injection ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/tests/cache/
###< symfony/phpunit-bridge ###