parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:enumNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Parameter \#2 \$configurator of method Symfony\\Component\\DependencyInjection\\ContainerBuilder\:\:registerAttributeForAutoconfiguration\(\) expects callable\(Symfony\\Component\\DependencyInjection\\ChildDefinition, ITB\\ShopwareSdkBundle\\Attribute\\AsEntityDefinitionCollectionPopulator, Reflector\)\: void, Closure\(Symfony\\Component\\DependencyInjection\\ChildDefinition, ITB\\ShopwareSdkBundle\\Attribute\\AsEntityDefinitionCollectionPopulator, ReflectionClass\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ITBShopwareSdkExtension.php
